html, body {
    height: 100%;  /* Sayfanın yüksekliğini %100 yapalım */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Sayfa genelinde kaydırma çubuğunun görünmesini engelliyoruz */
}

body {
    background-image: url('../images/background.jpg');
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white; 
}

#root {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0;
    min-height: 100vh;
    overflow-y: scroll;
}

/* Başlık */
@font-face {
    font-family: 'RickAndMorty';
    src: url('../get_schwifty.ttf') format('truetype'); 
}

h1 {
    position: fixed;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #00b8e6;
    font-size: 4rem; 
    font-family: 'RickAndMorty', sans-serif, bold; 
    font-weight: normal;
    text-shadow: rgba(50, 205, 50, 0.4) 3px 3px,
    rgba(0, 128, 0, 0.3) 6px 6px,
    rgba(50, 205, 50, 0.2) 9px 9px,
    rgba(0, 128, 0, 0.1) 12px 12px,
    rgba(50, 205, 50, 0.05) 15px 15px; 
}

.filter-container {
    position: fixed;
    top: 130px;
    left: 44%;
    transform: translateX(-50%);
    width: 600px;
    margin-bottom: 20px;
}

.filter-input {
    display: block;
    padding: 8px 35px 8px 8px;
    width: 100%;
    background-color: rgba(5, 88, 109, 0.8);
    border: none;
    border-radius: 4px;
    color: white;
    border: 1px solid #ffffff;
    font-family: monospace;
    font-size: 15px;
    text-shadow: 3px 3px 3px rgba(255, 203, 0, 0.5);
}
.filter-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 615px; /* Simgenin soldaki mesafesi */
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="24" height="24"><path d="M10 2a8 8 0 105.293 14.293l5.707 5.707 1.414-1.414-5.707-5.707A8 8 0 0010 2zm0 2a6 6 0 110 12A6 6 0 0110 4z"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none; /* Tıklanabilir olmamasını sağlar */
}
.filter-input::placeholder {
    color: white;
}
select{
    position: fixed;
    top: 130px;
    left: 63%;
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    padding: 8px 35px 8px 15px; 
    background-color: rgba(5, 88, 109, 0.8); 
    color: white; 
    border: 2px solid #ffffff; 
    border-radius: 4px; 
    font-family: monospace; 
    font-size: 15px; 
    text-shadow: 3px 3px 3px rgba(255, 203, 0, 0.5); /* Yazı gölgesi */
    cursor: pointer; /* İşaretçi tipi */
    width: 150px; /* Genişlik */   
}


.character-grid {
    margin-top: 180px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    text-shadow: 3px 3px 3px rgba(255, 203, 0, 0.5);
    overflow-y: auto;
    max-height: calc(100vh - 230px);
    position: relative;
    max-width: 10000%;
}

.character-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(5, 88, 109, 0.8);
    margin: 5px;
    box-shadow: rgba(50, 205, 50, 0.4) 5px 5px,
        rgba(0, 128, 0, 0.3) 10px 10px,
        rgba(50, 205, 50, 0.2) 15px 15px,
        rgba(0, 128, 0, 0.1) 20px 20px,
        rgba(50, 205, 50, 0.05) 25px 25px;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    margin-right: 10px;
}
.character-card:hover {
    transform: scale(1.05); /* Kartı büyüt */
    background-color: rgba(5, 88, 109,0.95); /* Arka plan rengini değiştir */
    box-shadow: 0 10px 20px rgba(0, 255, 0, 0.6); /* Daha belirgin bir gölge ekle */
    border-color: lime; /* Kenarlığın rengini değiştir */
}
.character-image {
    width: 120px;
    height: 120px;
}

.character-status,
.character-species {
    font-family: monospace;
    font-size: 15px;
    text-shadow: 3px 3px 3px rgba(255, 203, 0, 0.5);
    margin: 10px;
}

.pagination-container {
    position: fixed; /* Konumu sabitler */
    bottom: 0px; /* Sayfanın altından 20px yukarıda */
    left: 50%; /* Yatayda ortalar */
    transform: translateX(-50%); /* Ortalamayı tamamlar */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination-button {
    background-color: rgba(5, 88, 109, 0.8);
    border: 1.5px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    width: 50px;
    height: 25px;
    color: white;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    box-shadow: rgba(50, 205, 50, 0.4) 2px 2px,
        rgba(0, 128, 0, 0.3) 4px 4px;
    text-shadow: 3px 3px 3px rgba(255, 203, 0, 0.5);
}

.pagination-info {
    font-family: monospace;
    font-size: 16px;
    color: white;
    text-shadow: rgba(50, 205, 50, 0.4) 2px 2px, rgba(0, 128, 0, 0.3) 4px 4px;
}

::-webkit-scrollbar {
    width: 7px; /* Kaydırma çubuğunun genişliği */
    
  }
  
  ::-webkit-scrollbar-track {
    background: #000; /* Arka plan rengi */
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, lime, green); /* Yeşil lazer efekti */
    border-radius: 10px; /* Yuvarlak köşeler */
    box-shadow: 0 0 10px lime; /* Parlama efekti */
  }
  
  /* Hover durumunda parlaklık */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, limegreen, darkgreen);
    box-shadow: 0 0 15px lime;
  }